#quitDialogWrapper {
  height: 100%;
  width: 100%;
  align-horizontal: center;
  overflow-y: hidden;
}

#quitDialog {
  grid-size: 2;
  grid-gutter: 1 2;
  margin: 1 2;
  width: 50%;
}

#quitQuestion {
  column-span: 2;
  content-align: center bottom;
  width: 100%;
  height: 100%;
}

.quitButton {
  width: 100%;
}

#welcomeMessage {
  margin: 1 0 0 0;
  text-align: center;
}

#welcomeButtonHolder {
  margin: 1 0 0 0;
  align: center top;
  height: auto;
}

#welcomeButtonHolder > Button {
  margin: 0 3;
}

#shelfGrid {
  grid-size: 3 3;
  grid-rows: 1fr 3fr;
  padding: 0 3;
  align-vertical: middle;
}

#shelfViewContainer {
  align: center top;
  column-span: 3;
  height: 90%;
}

#shelfTitleContainer {
  column-span: 3;
  width: 100%;
  height: auto;
  align: center middle;
  border-top: rgba(0, 0, 0, 0);
}

#shelfTitleText {
  text-style: bold;
}

#shelfListContainer {
  border: heavy white;
  max-width: 80%;
}

#shelfButtonContainer {
  column-span: 3;
  height: auto;
  width: 100%;
  align: center middle;
}

#shelfButtonContainer > Button {
  margin: 0 4;
}
