#welcomeMessage {
	margin: 1 0 0 0;
	text-align: center;
}

#welcomeButtonHolder {
	margin: 1 0 0 0;
	align: center top;
	border: solid red;
	height: auto
}

#welcomeButtonHolder > Button {
	margin: 0 3;
}

#shelfViewContainer {
	align: center top;
	height: 90%;
}

#shelfTitle {
	text-align: center;
	width: 1fr;
	text-style: bold;
}

#shelfListContainer {
	border: heavy white;
	max-width: 80%;
}
